@import "reset.css";

body {
    font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 1200px) {
    body{
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    body{
        max-width: 750px;
    }
}
@media (max-width: 767px) {
    body{
        max-width: none;
    }
}

.header {
    width: 100%;
    max-width: 1229px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    font-weight: 700;
    padding-top: 65px;
}

.wrap {
    width: 100%;
    max-width: 1193px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav > li {
    margin-left: 32px;
}

.nav > li > a {
    text-decoration: none;
    color: #202020;

}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo_img {
    display: block;
    background-image: url("../img/logo.svg");
    width: 58px;
    height: 58px;
    margin-right: 43px;
}

.logo_text {
    font-size: 24px;
    color: #202020;
}

.title_main {
    font-size: 55px;
    color: #202020;
    font-weight: 700;
    letter-spacing: 1.3px;
}

.text_main {
    font-size: 32px;
    line-height: 1.8;
    color: #4F4F4F;
    margin-bottom: 2.4em;
}

.nav_btn {
    background-color: #5528FF;
    border-radius: 5px;
    padding: 10px 8px;
    color: #fff;
    border: none;
    font-weight: 700;
}

.button {
    background-color: #5528FF;
    border-radius: 10px;
    padding: 16px 58px;
    color: #fff;
    border: none;
    font-size: 24px;
}

.page {
    padding-top: 59px;
    padding-bottom: 106px;
    position: relative;
}

.page_top {
    border-top: 1px solid #C2C2C2;
}

.page h2 {
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    top: -25px;
    background-color: #FFF;
    padding: 5px 15px;
    color: #C2C2C2;
}

.service {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-row-gap: 13px;
}

.services_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.services_img {
    flex-basis: 155px;
    text-align: center;
}

.services_text {
    flex-basis: calc(100% - 180px);
}

.service h3 {
    font-size: 28px;
    font-weight: 400;
}

.service p {
    font-size: 14px;
    font-weight: 400;
    color: #B2B2B2;
    line-height: 1.5;
}

.clients {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-row-gap: 37px;
}

.team {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-row-gap: 52px;
}

.team_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.team_item img {
    margin-right: 36px;
}

.team_item > div {
    flex-basis: calc(100% - 100px);
}

.team_item h3 {
    font-size: 28px;
    color: #202020;
    margin-top: 0;
    margin-bottom: 3px;
}

.team_item p {
    font-size: 14px;
    color: #B2B2B2;

}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F7F7F7;
}

.social {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.social > li {
    margin-left: 15px;
}

.social > li > a {
    text-decoration: none;
    color: #B2B2B2;
    font-size: 24px;
}

.box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}